<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         beStrictAboutTestsThatDoNotTestAnything="false"
         bootstrap="./test/bootstrap.php">
    <testsuites>
        <testsuite name="Test Suite">
            <directory>.</directory>
        </testsuite>
    </testsuites>
</phpunit>
